#app-name{
    font-size: 200%;
    color: beige;
}

#nav-description{
    color: rgb(182, 171, 171);
}

#purple-btn{
    background-color: blueviolet;
}

.content{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.done{
    text-decoration: line-through;
}

.todo-list{
    min-width: fit-content;
}

nav{
    background-color: blueviolet;
}